<!doctype html>
{% load static %}
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static '/images/favicon.png' %}" type="image/png">
    <title>SELECTIONS</title>
  </head>
  <body>
    <div class="content">
            <nav class="navbar navbar-expand-md navbar-dark  sticky-top" style="background-color: #333333;">
                <div class="container-fluid">
                    <a href="/index.html" class="navbar-brand"><img src="{% static 'images/logo.png' %}"  alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" 
                    data-target="#navbarresponsive"> 
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarresponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                            <a href="/index.html" class="nav-link">MAIN</a>
                            </li>
                            <li class="nav-item active">
                                <a href="/about.html" class="nav-link">ABOUT US</a>
                            </li>
                            
                            <li class="nav-item">
                                <a href="/lk.html" class="nav-link">PROFILE</a>
                            </li>
                            <li class="nav-item">
                                <a href="/#" class="nav-link">COIN </a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </nav>
            <div class="container-fluid" id="headback">
                <div class="row padding ">
                    
                    <div class="offset-lg-1 col-lg-5 align-self-center">
                        <h1 class="h1main">The biggest selections in the world</h1>
                        <h2 class="h2main">Become a part of the history<br> 
                        </h2>
                        <br>
                        <a href="/login.html" class="buttonh">SIGN IN</a>
                        
                        <a href="/login.html" class="buttonh">SIGN UP</a>
                    </div>
                    <div class="col-lg-6 align-self-end">
                        <img src="{% static 'images/trp.png' %}" class="img-fluid"  id="trp">
                    </div>
                </div>
            </div>
            <div class="container-fluid padding">
                <div class="row alert align-items-center text-center">
                    <div class="col-12 ">
                        <h1 class="htest">
                          
                           MAKE YOUR CHOICE
                        </h1>
                    </div>
                    <hr>
                </div>
            </div>
            <!-- filters -->
            <div class="container">
              <div class="row alert align-items-center text-center">
                  
                  <div class="col-12 ">
                    <select name="filter">  
                                            <option value="ALL">ALL</option>
                                            <option value="PLTCS">POLITICS</option>
                                            <option value="CLTR">CULTURE</option>
                                            <option value="SPRT">SPORT</option>
                                            <option value="PPL">PEOPLE</option>
                                            <option value="FN">FUN</option>
                                            <option value="FD">FOOD&DRINKS</option>
                                            <option value="GM">GAMES</option>
                    </select>
                  </div>
                  
                  
              </div>
          </div>
            <div class="container padding" id="margintest">
              
                <div class="row padding text-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="center">
                            <div class="property-card">
                              <a href="/test.html">
                                <div class="property-image" style="background-image:url('{% static 'images/1.png' %}')">
                                </div></a>
                              <div class="property-description">
                                <h5> SELECTIONS </h5>                               
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="center">
                            <div class="property-card">
                              <a href="/test.html">
                                <div class="property-image" style="background-image:url('{% static 'images/2.jpg' %}')">
                                </div></a>
                              <div class="property-description">
                                <h5> SELECTIONS </h5>                               
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="center">
                            <div class="property-card">
                              <a href="/test.html">
                                <div class="property-image" style="background-image:url('{% static 'images/3.jpg' %}')">
                                </div></a>
                              <div class="property-description">
                                <h5> SELECTIONS </h5>                               
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="center">
                            <div class="property-card">
                              <a href="/test.html">
                                <div class="property-image" style="background-image:url('{% static 'images/4.jpg' %}')">
                                </div></a>
                              <div class="property-description">
                                <h5> SELECTIONS </h5>                               
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="center">
                            <div class="property-card">
                              <a href="/test.html">
                                <div class="property-image" style="background-image:url('{% static 'images/fon.png' %}')">
                                </div></a>
                              <div class="property-description">
                                <h5> SELECTIONS </h5>                               
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="center">
                            <div class="property-card">
                              <a href="/test.html">
                                <div class="property-image" style="background-image:url('{% static 'images/politics.jpg' %}')">
                                </div></a>
                              <div class="property-description">
                                <h5> SELECTIONS </h5>                               
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="center">
                            <div class="property-card">
                              <a href="/test.html">
                                <div class="property-image" style="background-image:url('{% static 'images/actor.jpg' %}')">
                                </div></a>
                              <div class="property-description">
                                <h5> SELECTIONS </h5>                               
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="center">
                            <div class="property-card">
                              <a href="/test.html">
                                <div class="property-image" style="background-image:url('{% static 'images/vodka.jpg' %}')">
                                </div></a>
                              <div class="property-description">
                                <h5> SELECTIONS </h5>                               
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="center">
                            <div class="property-card">
                              <a href="/test.html">
                                <div class="property-image" style="background-image:url('{% static 'images/vk.png' %}')">

                                </div></a>
                              <div class="property-description">
                                <h5> SELECTIONS </h5>                               
                              </div>
                            </div>
                          </div>
                    </div>
                    
                </div>
            </div>
        </div>
            
                 

 
            <!-- футер -->
            <footer class="container-fluid">
                <div class="container">
                    <div class="row text-center padding">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <img src="{% static 'images/DA.png' %}" class="ss" alt="">
                            <p class="sst">@selectionsworld</p>
                        </div> 
    
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <img src="{% static 'images/FB.png' %}" class="ss" alt="">
                            <p class="sst">@selectionsworld</p>
                        </div> 
    
                        <div class="col-xs-6 col-sm-6 col-md-3">
                           <a href="https://www.instagram.com/selections.world/">
                            <img src="{% static 'images/INST.png' %}" class="ss" alt="">
                           </a> 
                            <p class="sst">@selections.world</p>
                        </div> 
                        <div class="col-xs-6 col-sm-6 col-md-3">
                          <a href="https://www.vk.com/selections.world/">
                            <img src="{% static 'images/vk.png' %}" class="ss" alt="">
                          </a>
                            
                            <p class="sst">@selections.world</p>
                        </div> 
                    </div>
                    
                </div>
            

            </footer>
          
            <script type="text/javascript" src={% static "js/jquery-3.4.1.slim.min.js" %}></script>
            <script type="text/javascript" src={% static "js/bootstrap.min.js" %}></script>
    </body>
</html>