<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="shortcut icon" href="{% static '/images/favicon.png' %}" type="image/png">
    <title>Login</title>
</head>
<body>
    <div class="content">
    <nav class="navbar navbar-expand-md navbar-dark  sticky-top" style="background-color: #333333;">
        <div class="container-fluid">
            <a href="/index.html" class="navbar-brand"><img src="{% static 'images/logo.png' %}"  alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarresponsive"> 
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarresponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a href="/index.html" class="nav-link">MAIN</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/about.html" class="nav-link">ABOUT US</a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="/lk.html" class="nav-link">PROFILE</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#" class="nav-link">COIN </a>
                    </li>
                </ul>
            </div>
            
        </div>
    </nav>
    <div class="login-page">
        <div class="form">
          <form class="register-form">
            <input type="text" placeholder="username"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="e-mail address"/>
            <p class="terms">By clicking Sign Up, you agree to our<a href="#">Terms</a>,<a href="#">Data Policy</a> </p>
            <button>SIGN UP</button>
            <p class="message">Already registered? <a href="#">SIGN IN</a></p>
          </form>
          <form class="login-form">
            <input type="text" placeholder="username"/>
            <input type="password" placeholder="password"/>
            <button>SIGN IN</button>
            <p class="message">Not registered? <a href="#">SIGN UP</a></p>
            
          </form>
        </div>
      </div>
    </div>
    <footer class="container-fluid">
        <div class="container">
            <div class="row text-center padding">
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <img src="{% static 'images/DA.png' %}" class="ss" alt="">
                    <p class="sst">@selectionsworld</p>
                </div> 

                <div class="col-xs-6 col-sm-6 col-md-3">
                    <img src="{% static 'images/FB.png' %}" class="ss" alt="">
                    <p class="sst">@selectionsworld</p>
                </div> 

                <div class="col-xs-6 col-sm-6 col-md-3">
                   <a href="https://www.instagram.com/selections.world/">
                    <img src="{% static 'images/INST.png' %}" class="ss" alt="">
                   </a> 
                    <p class="sst">@selections.world</p>
                </div> 
                <div class="col-xs-6 col-sm-6 col-md-3">
                  <a href="https://www.vk.com/selections.world/">
                    <img src="{% static 'images/vk.png' %}" class="ss" alt="">
                  </a>
                    
                    <p class="sst">@selections.world</p>
                </div> 
            </div>
            
        </div>
    

    </footer>
    <script type="text/javascript" src={% static "js/jquery.min.js" %}></script>
    <script type="text/javascript" src={% static "js/bootstrap.min.js" %}></script>
    <script id="rendered-js">
        $('.message a').click(function () {
          $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
        });
    </script>
    
    

</body>
</html>