<!doctype html>
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/new.css">
    <title>Hello, world!</title>
  </head>
  <body>
            <nav class="navbar navbar-expand-md navbar-dark  sticky-top" style="background-color: #333333;">
                <div class="container-fluid">
                    <a href="/index.html" class="navbar-brand"><img src="images/logo.png"  alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" 
                    data-target="#navbarresponsive"> 
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarresponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a href="about.html" class="nav-link">ABOUT US</a>
                            </li>
                            <li class="nav-item">
                                <a href="index.html" class="nav-link">MAIN</a>
                            </li>
                            <li class="nav-item">
                                <a href="/lk.html" class="nav-link">ABOUT ME</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">COIN </a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </nav>
            <div class="container-fluid" id="headback">
                <div class="row padding ">
                    
                    <div class="offset-lg-1 col-lg-5 align-self-center">
                        <h1 class="h1main">The biggest selections in the world</h1>
                        <h2 class="h2main">Become a part of the history<br> 
                        </h2>
                        <br>
                        <a href="/login.html" class="buttonh">SIGN IN</a>
                        
                        <a href="#" class="buttonh">SIGN UP</a>
                    </div>
                    <div class="col-lg-6 align-self-end">
                        <img src="images/trp.png" class="img-fluid"  id="trp">
                    </div>
                </div>
            </div>
            <div class="container-fluid padding">
                <div class="row alert align-items-center text-center">
                    <div class="col-12 ">
                        <h1 class="htest">
                            MAKE YOUR CHOICE
                        </h1>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="container padding">
                <div class="row padding">
                    <div class="col-md-4">
                        <div class="center">
                            <div class="property-card">
                              <a href="/test.html">
                                <div class="property-image">
                                  <div class="property-image-title">
                                    
                                  </div>
                                </div></a>
                              <div class="property-description">
                                <h5> SELECTIONS </h5>                               
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div class="center">
                            <div class="property-card">
                              <a href="#">
                                <div class="property-image">
                                  <div class="property-image-title">
                                    <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                                  </div>
                                </div></a>
                              <div class="property-description">
                                <h5> ВЫБОРЫ </h5>                               
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div class="center">
                            <div class="property-card">
                              <a href="#">
                                <div class="property-image">
                                  
                                </div></a>
                              <div class="property-description">
                                <h5> ВЫБОРЫ </h5>                               
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div class="center">
                            <div class="property-card">
                              <a href="#">
                                <div class="property-image">
                                  <div class="property-image-title">
                                    <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                                  </div>
                                </div></a>
                              <div class="property-description">
                                <h5> ВЫБОРЫ </h5>                               
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div class="center">
                            <div class="property-card">
                              <a href="#">
                                <div class="property-image">
                                  <div class="property-image-title">
                                    <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                                  </div>
                                </div></a>
                              <div class="property-description">
                                <h5> ВЫБОРЫ </h5>                               
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div class="center">
                            <div class="property-card">
                              <a href="#">
                                <div class="property-image">
                                  <div class="property-image-title">
                                    <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                                  </div>
                                </div></a>
                              <div class="property-description">
                                <h5> Selections</h5>                               
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            
            
            
                 

 
            <!-- футер -->
            <footer class="container-fluid">
                <div class="container">
                    <div class="row text-center padding">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <img src="images/DA.png" class="ss" alt="">
                            <p class="sst">@selectionsworld</p>
                        </div> 
    
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <img src="images/FB.png" class="ss" alt="">
                            <p class="sst">@selectionsworld</p>
                        </div> 
    
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <img src="images/INST.png" class="ss" alt="">
                            <p class="sst">@selectionsworld</p>
                        </div> 
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <img src="images/vk.png" class="ss" alt="">
                            <p class="sst">@selectionsworld</p>
                        </div> 
                    </div>
                    
                </div>
            

            </footer>
          
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
          
    </body>
</html>